@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS to style list markers */
.list-disc-custom li::marker {
  color: #11a811; /* Custom bullet color */
}

.list-decimal-custom li::marker {
  color: #11a811; /* Custom number color */
}

/* Hide scrollbars in Webkit-based browsers */
.hide-scrollbar {
  overflow: auto; /* Enable scrolling */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
